<%= link_to "â† Back", password_path(@password), class: "block mb-4 no-underline text-blue-600" %>

<h1>Share Password</h1>

<%= render "form",
  password: @password,
  user_password: @user_password
%>