<%= form_with model: link do |form| %>
  <div class="flex gap-2 items-center">
    <%= form.url_field :url, 
          placeholder: "https://example.org", 
          required: true, 
          class: "flex-grow rounded placeholder:text-slate-400 focus:border-green-600 focus:ring-green-600 " 
    %>
    <%= form.button "Shorten URL", class: "btn-primary" %>
  </div>
<% end %>