<div class="flex justify-center mx-auto">
  <h1 class="text-green-900">URL Shortener</h1>
</div>

<%= render partial: "form", locals: {link: @link} %>

<div id="links" class="mt-8 flex flex-col divide-y divide-gray-100">
  <%= render @links%>
</div>