<%= link_to "â† Back", password_path(@password), class: "block mb-4 no-underline text-blue-600" %>

<div class="mx-auto w-fit">
  <h1>Edit Password</h1>
  <%= render "form", password: @password %>
</div>